.book-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9); /* White background with transparency */
  padding: 1rem;
  border-radius: 10px;
  z-index: 3;
}

.book-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-content__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.box-form__field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.box-form__field label {
  margin-bottom: 0.2rem;
}

.box-form__field select,
.box-form__field input {
  padding: 0.5rem;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
}

.box-form button {
  padding: 0.5rem 1rem;
  background-color: #ff5330;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.box-form button:hover {
  background-color: #e04e2a;
}
