body {
  background-color: var(--neutral-100);
  overflow-y: scroll;
}


.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: -7rem;
  margin-bottom: 2.5rem;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0 1rem 1.25rem -0.25rem hsl(var(--neutral-800-hsl) / 15%);
}

.filter__panel {
  position: relative;
  top: auto;
}
  
.container {
  width: auto;
  max-width: 120px; /* Adjust the max width to fit larger cards */
  margin: 33 auto;
  padding: 100px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

