  /* modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-body {
    margin-top: 10px;
  }
  
  .modal-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-images img {
    width: 30%; /* Adjust the width as needed */
    height: auto;
    border-radius: 4px;
  }
  
.modal-calendar {
    margin-top: 20px;
    text-align: center;
  }
  